<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hm.eem_library">

    <application>
        <activity android:name=".view.AboutActivity" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>